<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GraphiQL</title>

    <link rel="stylesheet" href="https://esm.sh/graphiql@5.2.0/style.css">
<link rel="stylesheet" href="https://esm.sh/@graphiql/plugin-explorer@5.1.1/style.css">
<div id="app" style="height:100vh"></div>

<script type="module">
  import React from "https://esm.sh/react@18";
  import { createRoot } from "https://esm.sh/react-dom@18/client";
  import { GraphiQL, createGraphiQLFetcher } from "https://esm.sh/graphiql@5.2.0";
  import { explorerPlugin } from "https://esm.sh/@graphiql/plugin-explorer@5.1.1";

  const fetcher = createGraphiQLFetcher({ url: "/graphql" });
  const root = createRoot(document.getElementById("app"));
  root.render(
    React.createElement(GraphiQL, {
      fetcher,
      plugins: [explorerPlugin()],
      defaultEditorToolsVisibility: true,
    })
  );
</script>

</body>
</html>
